body {
    background-color: maroon;
} 

nav a {
    color: yellow;
    border: solid;
    border-color: black;
   
}

#current-link{
    text-decoration: none;
}

.uppercase{
    text-transform: uppercase;
    font-size: 40px;
}

img{
    width: 280px;
    height: auto;
}

h1{
    border: ridge;
    border-width: 7px;
    border-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 180px;
    margin: 1px;
    margin-left: 50px;
    margin-right: 650px;
    margin-top: 7px;
}
